*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    height: 100vh;
}
.container{
    background-color: #fff;
    width: 400px;
    border-radius: 5px;
    padding: 20px 30px 20px;
}
.container p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inputBox input{
    border-radius: 5px;
    padding: 15px;
    border: 2px solid rgb(134, 129, 129);
    outline: 0cap;
    font-size: 15px;
}
.inputBox button{
    padding: 20px;
    outline: 0cap;
    border-radius: 5px;
    cursor: pointer;
    border: 0ch;
    position: relative;
   animation: glow 1.5s infinite alternate;
   background-color: #3498db;
   color: #fff;
   font-size: 20px;
}
@keyframes glow {
    0% {
      box-shadow: 0 0 0px #3498db, 0 0 0px #3498db, 0 0 10px #3498db;
    }
    
    100% {
      box-shadow: 0 0 0px #3498db, 0 0 0px #3498db, 0 0 10px #3498db;
    }
}

#Qimg{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    margin: 0 65px 0;

}
#Qimg img{
    width: 100%;
    padding: 10px; 
    display: grid;
    place-items: center;
}
#Qimg.show-img{
  
    max-height: 300px;
   
}

@keyframes shake {
  0% { transform: translate(0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-2px); }
  20%, 40%, 60%, 80%, 100% { transform: translate(2px); }
}

.element-to-shake {
  animation: shake 0.5s 5;
}

