*{
    margin: o;
    padding: 0;
}

body{
font-family: 'Roboto Mono', monospace;
}

.navbar{
    background-color: #281dba;
    padding: 10px;
}
.container{
    padding: 10px;
}
.book-container{
    padding: 15px;
    width: 25%;
    background-color: rgba(17, 16, 16, 0.314);
    border-radius: 3%;
    color: rgb(8, 7, 7);
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    
}
.book-container h2{
    color: rgb(43, 8, 108);
}
.book-container button{
    background-color: rgb(0, 0, 0);
    color: rgb(234, 232, 232);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 10px;
    
}
.add-button{
    background-color: #281dba;
    border-radius: 100%;
    color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size:40px;
    border: none;
    bottom: 30px;
    right: 30px;
    position: fixed;
}
.popup-overlay{
    background-color: black;
    opacity: 0.88;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: 1;
    position: absolute;
    display: none;

}
.popup-box{
    background-color: rgb(252, 252, 255);
    position: absolute;
    padding: 40px;
    width: 40%;
    top: 20%;
    left:30%;
    border-radius: 10px;
    z-index: 2;
    display: none;

}
.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-bottom: solid black;
    font-size: 20px;

}
.popup-box textarea{
    background: transparent;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: solid black;
    font-size: 20px;
}
.popup-box button{
    background-color:navy;
    color: rgb(234, 232, 232);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 10px;
    height: 50px;
    width: 75px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}


    